---
Checks: >
  -*,
  google-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -google-readability-todo,

HeaderFilterRegex: "^(?!.*(third_party|build|include)).*"
WarningsAsErrors: "*"
