---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers

HeaderFilterRegex: "^(?!.*(third_party|build|include)).*"
WarningsAsErrors: "*"
