---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers

HeaderFilterRegex: 'src/.*|include/.*'
WarningsAsErrors: "*"
